*{
    color: white;  
    font-family:'Ubuntu', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}
 

body{
    background-color: black;
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 5%;
    align-items: center;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
    "item1 item2";
}

nav {
    background-color: rgb(22, 22, 22);
    min-width: 100%; 
    padding-bottom: 0.2rem;    
    height: 6.25rem;
    position: fixed;
}

.logo img{
    width: 45rem;
    height: auto;
    position: absolute;
    align-items: center;
    top: 0%;
    right: 0%;
    padding: 1rem 1%;
}

.logo img:hover{
    transition-delay: 100ms;
    background-color: rgb(80, 80, 80);
    transition-duration: 400ms;
}


nav a {
    display: inline-block;
    line-height: 2.5rem;
    margin: 0.4rem 0.4rem;
    padding: 0% 1rem;
    text-decoration: none;
    align-items: center;
}

nav a:hover {
    transition-delay: 100ms;
    background-color: rgb(80, 80, 80);
    transition-duration: 400ms;
}
    
nav h2 {
    padding-left: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 0.6rem;
    padding-top: 0.5rem;
}

h1 {
    font-size: 3rem; 
    text-align: center;   
    margin-top: 8rem;
    margin-bottom: 0rem;
}

.aftellen h1{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}


.OGvideo {
    text-align: center;
}

.footer-index footer {
    position: fixed;
}

footer {
    background-color: rgb(22, 22, 22);
    width: 100%;
    margin-top: 2.5rem;
    padding: 1rem 0rem;
    position: relative;
    bottom: 0%;
}

.Contact {
    text-align: center;
    
}

.container1 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2.5%;
    align-items: center;
    padding-left: 2.5%;
    margin-bottom: 17.5rem;
    
}

#item1 {
    width: 200%;
}

#item9 {
    width: 200%
}

.item img {
    width: 100%;
}

.container2 {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 3%;
    align-items: center;
    padding-bottom: 20rem;
}

.onderschrift h4{
    text-align: center;
    font-size: 1.5rem;
}

.video{
    padding: 1% 1%;
    text-align: center;
}

.container3 {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 2.5%;
    align-items: center;
    padding-left: 2%;
    text-align: center;
}

.container3 h2{
    font-size: 1.5rem;
}

.container3 h3{
    font-size: 1rem;
}

.mania img{
    width: 100%;
    padding: 1.5%;
}

.video-bergkamp iframe{
    padding-bottom: 10rem;
    width: 100%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    width: 639px;
    height: 360px;
}

.Dennis-Bergkamp{
    padding-bottom: 10rem;
    width: 100%;
}

.plaatje img {
    width: 100%;
    padding: 2.5% 1.5% 1% 1.5%;
}

@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .container1 {
        grid-template-columns: 100%;
        padding-bottom: 0rem;
        grid-gap: 0%;
    }

    .item {
        padding: 1%;
    }

    #item1 {
        width: 98%;
    }
    
    #item9 {
        width: 98%
    }

    .container3 {
        grid-template-columns: 100%;
        grid-gap: 1%;
        text-align: center;
        padding: 1%;
    }

    .container3 img{
        padding-right: 5%;
        width: 97%;
    }

    .plaatje img{
        padding-top: 0;
    }

    .mania {
        grid-row: 4;
    }

    .Dennis-Bergkamp {
        padding-bottom: 0;
        
    }

    .video-bergkamp iframe {
        width: 639px;
        height: 360px;
    }

    nav {
        padding-bottom: 0.2rem;    
        height: 9.375rem;
    }

    nav a {
        line-height: 3.75rem;
        margin: 0.6rem 0.6rem;
        padding: 0% 1.5rem;
    }

    nav h2 {
        padding-left: 2.1rem;
        margin-top: 0rem;
        margin-bottom: 0.9rem;
        padding-top: 0.75rem;
    }
    
    .logo img {
        width: 20rem;
        height: auto;
        padding: 8.3rem 0.5%;
    }
}

@media only screen and (max-width: 1800px) and (-webkit-max-device-pixel-ratio: 1) {
    .container2{
        grid-template-columns: 100%;
        grid-gap: 0%;
        padding-bottom: 0%;
    }
    .video {
        padding: 1%;
    }
}

@media only screen and (max-width: 1360px) and (-webkit-max-device-pixel-ratio: 1) {
    .logo img {
        width: 20rem;
        height: auto;
        padding: 2.2rem 0.5%;
    }

    .container1{
        grid-template-columns: 46.5% 46.5%;
        padding-bottom: 17.5rem;
    }
    .video-bergkamp iframe {
        width: 426px;
        height: 240px;
    }
}

@media only screen and (max-width: 900px) and (-webkit-max-device-pixel-ratio: 1) {
    nav a {
        line-height: 1.7rem;
        margin: 0.27rem 0.27rem;
        padding: 0% 0.66rem;
        font-size: 0.66rem;
    }

    nav h2 {
        padding-left: 0.93rem;
        margin-bottom: 0.4rem;
        padding-top: 0.33rem;
        font-size: 1rem;
    }

    .logo img {
        padding: 1.5rem 0.33%;
        width: 13.3rem;
        height: auto;
    }

    nav {
        padding-bottom: 0.13rem;
        height: 4.2rem;
    }
    
    iframe {
        width: 640px;
        height: 360px;
    }

    .aftellen h1 {
        font-size: 2rem;
        padding-bottom: 0.66rem;
    }

    footer {
        margin-top: 1.67rem;
        padding: 0.67rem 0rem;
    }

    p {
        font-size: 0.67rem;
    }

    .container1{
        grid-template-columns: 100%;
        padding-bottom: 0rem;
        grid-gap: 0%;
    }

    .item {
        padding: 1%;
    }

    #item1 {
        width: 98%;
    }
    
    #item9 {
        width: 98%
    }

    .container3 {
        grid-template-columns: 100%;
        grid-gap: 1%;
        text-align: center;
        padding: 1%;
    }

    .container3 img{
        padding-right: 5%;
        width: 97%;
    }

    .plaatje img{
        padding-top: 0;
    }

    .mania {
        grid-row: 4;
    }

    .Dennis-Bergkamp {
        padding-bottom: 0;
        
    }
    .video-bergkamp iframe {
        width: 639px;
        height: 360px;
    }
}

@media only screen and (max-width: 700px) and (-webkit-max-device-pixel-ratio: 1) {
    .video-bergkamp iframe {
        width: 426px;
        height: 240px;
    }

    iframe {
        width: 426px;
        height: 240px;
    }

    .aftellen h1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .onderschrift h4 {
        font-size: 0.75rem;
    }

}

@media only screen and (max-width: 575px) and (-webkit-max-device-pixel-ratio: 1) {
    nav a {
        line-height: 1.1rem;
        margin: 0.18rem 0.18rem;
        padding: 0% 0.44rem;
        font-size: 0.44rem;
    }

    nav h2 {
        padding-left: 0.62rem;
        margin-bottom: 0.27rem;
        padding-top: 0.22rem;
        font-size: 0.66rem;
    }

    .logo img {
        padding: 1rem 0.22%;
        width: 8.87rem;
        height: auto;
    }

    nav {
        padding-bottom: 0.87rem;
        height: 2rem;    }
    
    footer {
        margin-top: 1.11rem;
        padding: 0.44rem 0rem;
    }

    p {
        font-size: 0.44rem;
    }

    .container3 h2{
        font-size: 1rem;
    }
    
    .container3 h3{
        font-size: 0.67rem;
    }
}

