*{
  color: white;  
  font-family:'Ubuntu', sans-serif;
  }
  h1 {
    font-family:'Ubuntu', sans-serif;
    font-weight:normal;
    font-style:normal;
    }
body{
    background-color: black;
    position: absolute;
}

nav {
    background-color: rgb(80, 78, 78);
    padding: 0;
    width: 100%;
    padding-right: 12.5rem;
     
}

nav img{
    width: 25%;
    height: auto;
    position: absolute;
    margin-left: 64%;
    top: 0;
    padding-top: 1.5%;

}

nav a {
    display: inline-block;
    vertical-align: center;
    padding: 0px 25px;
    margin-right: 25px;
    line-height: 5rem;
    color: white;
    text-decoration: none;
}
.pagina-1 h1{
    min-width: 263px;
    text-align: left;
}

.pagina-2 h1{
    min-width: 263px;
    text-align: left;
}

.pagina-3 h1{
    min-width: 263px;
    text-align: left;
}

.pagina-4 h1{
    min-width: 263px;
    text-align: left;
}

nav h4 {
    display: inline-block;
    vertical-align: center;
    padding: 0px 25px;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 3rem;
}

.nav-bar h2 {
    position: absolute;
    padding-left: 52%;
    top: -5px;
    
}

nav h1{
    text-align: right;
}

.aftellen h1{
    text-align: center;
    padding-left: 17.5%;
    
}

iframe{
    text-align: center;
    padding-left: 27.5%;
}

footer {
    background-color: gray;
    border: 10px solid dimgray;
    width: 100%;
}

h1 {
    font-size: 2rem;    
}

.Contact {
    text-align: center;
}

.container1 {
    margin-top: 10.75rem;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
    align-items: center;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
    "item1 none item2";
}

.item{
    padding: 0.5%;
    
}

.item img {
    width: 100%;
}

#item1{
    grid-area: "item1";
}

#item2 {
    grid-area: "item2";
    
}

.foto img {
    width: 20%;
    height: auto;
    overflow: scroll;

 }

 .geschiedenis {
    padding-top: 1%;
    text-align: left;
    max-width: 50%;
    padding-left: 0.5%;
    position: absolute;
}
.heden {
    text-align: center ;
    max-width: 50%;
    padding-left: 50%;
    padding-bottom: 300px; 
}