*{
  color: white;  
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:url("https://nl.freepik.com/premium-vector/voetbalveld-of-voetbal-veld-achtergrond_2199196.htm");
}




nav {
    position: fixed;
    z-index: 5;
    left: -17.8em;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5rem;
    padding-right: 2rem;
    background: url("") center center repeat;
    font-family: "Proza Libre", serif;
    font-size: 18px;
    line-height: 2.2;
    font-weight: bold;
    color: #142033;
    transition: left 600ms ease-out 120ms;
    background-color: white;
    
  
  }
  
  nav:hover {
    left: 0;
  }
  
  nav .hover-content {
    margin-right: 5em;
    height: 100%;
    
    
  }

  nav li{
      color: black;
  }

  nav h2{
      color: black;
  }

  nav a{
      color: black;
  }
 
.pijl img {
      width: 25%;
      height: auto;
      position: absolute;
      
  }

header {
    background-color:gray;
    border: 10px solid dimgray;
    width: 99%;
}

.logo img{
    width: 10%;
    height: auto;
}

.pagina{
   text-align: right; 
   width: 99%;
}

.aftellen h1{
    text-align: center;
    
}

iframe{
    text-align: center;
    padding-left: 27.5%;
}

footer {
    background-color: gray;
    border: 10px solid dimgray;
    width: 100%;
}

h1 {
    font-size: 2rem;    
}

.logo {
    position: left;
}

.homepagina { 
    text-align: right;
    position: relative; 
    width: 99%;
    top: -10px;
}

.Contact {
    text-align: center;
}

    